services:
  conversation-agent:
    build:
      context: ./agents
      dockerfile: conversationagent/Dockerfile
    ports:
      - "8000:8000"
    env_file:
      - ./agents/conversationagent/.env
    restart: unless-stopped

  formsupport-agent:
    build:
      context: .
      dockerfile: agents/formsupportagent/Dockerfile
    ports:
      - "8001:8001"
    env_file:
      - ./agents/formsupportagent/.env
    restart: unless-stopped

  orchestrator-agent:
    build:
      context: .
      dockerfile: agents/orchestrators/Dockerfile
    ports:
      - "8002:8002"
    env_file:
      - ./agents/orchestrators/.env
    environment:
      - CONVERSATION_AGENT_A2A_URL=http://conversation-agent:8000
      - FORM_SUPPORT_AGENT_A2A_URL=http://formsupport-agent:8001
    depends_on:
      - conversation-agent
      - formsupport-agent
      - redis

  redis:
    image: redis:7.4 #use this same version on Azure Redis instance as well. PR review comment.
    container_name: redis_cache
    ports:
      - "6379:6379"
    restart: unless-stopped
    volumes:
      - redis-data:/data

  azure-cosmos-emulator:
    image: mcr.microsoft.com/cosmosdb/linux/azure-cosmos-emulator
    platform: linux/amd64
    container_name: azure-cosmos-emulator
    ports:
      - "8081:8081"
      - "10250-10255:10250-10255"
    environment:
      - AZURE_COSMOS_EMULATOR_PARTITION_COUNT=3
      - AZURE_COSMOS_EMULATOR_ENABLE_DATA_PERSISTENCE=true
      - AZURE_COSMOS_EMULATOR_IP_ADDRESS_OVERRIDE=127.0.0.1
    volumes:
      - cosmosdb-data:/data/cosmosdb

volumes:
  redis-data:
  cosmosdb-data:
