name: Build Containers

on:
  workflow_call:
    inputs:
      tags:
        description: 'Tags to apply to the built containers multiline, separated by newlines'
        required: true
        type: string
permissions:
  id-token: write # This is required for requesting the JWT
  contents: write # This is required for actions/checkout
  packages: write
jobs:
  # https://github.com/bcgov/action-builder-ghcr
  builds:
    name: Builds
    runs-on: ubuntu-24.04
    timeout-minutes: 15
    strategy:
      matrix:
        package:
          - name: agentic_ai_backend
            context: ./agentic_ai_backend
            dockerfile: ./agentic_ai_backend/Dockerfile
          - name: orchestrator_agent
            context: ./agentic_ai_backend
            dockerfile: ./agentic_ai_backend/agents/orchestrators/Dockerfile
    steps:
      - uses: bcgov/action-builder-ghcr@v4.0.0
        with:
          package: ${{ matrix.package.name }}
          build_context: ${{ matrix.package.context }}
          build_file: ${{ matrix.package.dockerfile }}
          tags: ${{ inputs.tags }}
          tag_fallback: latest
