name: Build Containers

on:
  workflow_call:
    inputs:
      tags:
        description: 'Tags to apply to the built containers multiline, separated by newlines'
        required: true
        type: string
permissions:
  id-token: write # This is required for requesting the JWT
  contents: write # This is required for actions/checkout
  packages: write
jobs:
  # https://github.com/bcgov/action-builder-ghcr
  builds:
    name: Builds
    runs-on: ubuntu-24.04
    timeout-minutes: 10
    steps:
      - uses: bcgov/action-builder-ghcr@v4.0.0
        with:
          package: agentic_ai_backend
          build_context: ./agentic_ai_backend
          build_file: ./agentic_ai_backend/Dockerfile
          tags: ${{ inputs.tags }}
          tag_fallback: latest
