name: Destroy Test Environment

permissions:
  contents: write
  id-token: write

on:
  workflow_dispatch:

jobs:
  stack-prefix:
    name: Get Stack Prefix
    uses: ./.github/workflows/.stack-prefix.yml
    
  destroy-test:
    name: Destroy Test Resources
    needs: [stack-prefix]
    uses: ./.github/workflows/.deployer.yml
    with:
      environment_name: test
      command: destroy
      stack_prefix: ${{ needs.stack-prefix.outputs.STACK_PREFIX }}
      app_env: test
    secrets: inherit
